**/venv/
**/build/
**/*.charm
**/*.snap
**/.tox/
**/.coverage
__pycache__/
**/*.py[cod]
**/.idea
**/.vscode
**/.mypy_cache
**/.ruff_cache
*.egg-info/
*/*.rock
**/.venv/

# BEGIN VALE WORKFLOW IGNORE
.vale/styles/*
!.vale/styles/local
!.vale/styles/config/

.vale/styles/config/*
!.vale/styles/config/vocabularies/

.vale/styles/config/vocabularies/*
!.vale/styles/config/vocabularies/local
# END VALE WORKFLOW IGNORE

terraform/**/.terraform*
terraform/**/.tfvars
terraform/**/*.tfstate*
haproxy-route-policy/db.sqlite3
haproxy-route-policy/.python-version

tests/spread/tutorial/
**/.spread-reuse*
artifacts-generated.yaml
.opcli-spread-*/
